{% extends 'admin/layout.html.twig' %}

{% block body %}
{{ form_start(form) }}
<div class="form-group row">
{{ form_row(form.posttitle, {'attr': {'class': 'form-control'}})}}
</div>
<div class="form-group row">
{{ form_row(form.postcontent)}}
</div>
<div class="form-group row">
{{ form_row(form.postimage)}}
</div>
</br>
<button type="submit" class="btn btn-primary">Wyślij</button>
{{ form_end(form) }}
{% endblock %}