{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-8">
    <h1 class="page-header">
                    Nazwa Bloga!
                    <small>Jakieś śmieszne motto</small>
                </h1>

    {% for post in posts %}
                    
        <h2>
            <a href="{{path('blog_post',{'id': post.postid }) }}">{{post.posttitle}}</a>
        </h2>
        <p class="lead">
            by <span style="color: blue;"> {{post.username}}</span>
        </p>
        <p><span class="glyphicon glyphicon-time"></span> {{post.postdate|date('Y-m-d') }}</p>
        <hr>
        <img class="img-responsive" src="{{asset('img/'~ post.postimage)}}" alt="">
        <hr>
        <div class="last-line">
            {{post.postcontent}}
        </div>
        <a class="btn btn-primary" href="{{path('blog_post',{'id': post.postid }) }}">Czytaj więcej <span class="glyphicon glyphicon-chevron-right"></span></a>

        <hr>
 
    {% endfor %}
        {% if num[0]['num'] is defined %}
        <ul class="pager">
            {% if app.request.get('id') > 1 %}
            <li class="previous">
                <a href="{{path('blog_index',{'id': app.request.get('id')-1}) }}">&larr; Older</a>
            </li>
            {% endif %}
            {% if app.request.get('id')*3 < num[0]['num'] %}
            <li class="next">
                <a href="{{path('blog_index',{'id': app.request.get('id')+1 }) }}">Newer &rarr;</a>
            </li>
        {% endif %}
        </ul>
            {% endif %}
    {% endblock %}