{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-lg-8">
                {% for post in posts %} 
                <h1>{{post.posttitle}}</h1>   

                <p class="lead">
                    by <a href="#">{{post.username}}</a>
                </p>
                <hr>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.postdate|date('Y-m-d') }}</p>
                <hr>
                <img class="img-responsive" src="{{asset('img/'~ post.postimage)}}" alt="">
                <hr>
                {% autoescape %}{{post.postcontent | raw }}{% endautoescape %}
                <hr>
                {% endfor %}
            {% if app.user %}
                <div class="well">  
                    <h4>Zostaw komentarz:</h4>
                    <form role="form" method="post" action="{{path('com_add', {'id': app.request.get('id')}) }}">
                        <div class="form-group">
                            <textarea name="content" class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Wyślij</button>
                    </form>
                </div>
                <hr>
            {% elseif not app.user %}  
                <span style="color: red;">komentowanie jest dozwolone tylko dla zalogowanych użytkowników</span>
            {% endif %}    
        {% for comment in comments %} 

                <div class="media">
                    <div class="media22">
                        <h4 class="media-heading"><span style="color: red;">{{comment.username}}</span>
                            <small>{{comment.com_date|date('Y-m-d')}} </small>
                            {% if is_granted('ROLE_ADMIN') %} 
                                <a href="{{path('com_del', {'postid': app.request.get('id'), 'comid': comment.commentid }) }}">usuń</a>
                            {% endif %}
                        </h4>
                        {{ comment.com_content }}
                </div>
                   </div> 

        {% endfor %}
        
{% endblock %}